* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 24px;
}

.followList {
  border: 1px solid #efefef;
  border-radius: 12px;
  padding: 12px;
}

.followList > div {
  padding: 5px;
}

.followList__title {
  font-size: 14px;
}

.followList__button {
  background-color: transparent;
  border: none;
  color: rgb(86, 180, 211);
  font-size: 8px;
  cursor: pointer;
  outline: none;
}

.followItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.followItem > div {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.followItem > div > img {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
}

.followItem > div > div > p:first-child {
  font-weight: bold;
  font-size: 12px;
}

.followItem > div > div > p:nth-child(2) {
  font-size: 10px;
  color: #484848;
}

.followItem > button {
  background-color: #323232;
  border: none;
  color: #efefef;
  border-radius: 12px;
  padding: 6px 10px;
  font-size: 8px;
  font-weight: bold;
}